
@model CoreWebPractice.Models.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <form class="filter-block" asp-action="Index" method="get">

        <div class="filter-field">
            <span class="title">Find</span>
            <input type="text" name="Keyword" value="@ViewBag.Keyword" placeholder="text keyword here" />
        </div>
        <div class="filter-field button-wrap">
            <button class="btn btn-03"><i class="lni-search"></i></button>
        </div>
    </form>

    <div class="table-wrap">
        <p>
            <a asp-action="Create" class="btn btn-03 add-btn">Create</a>
        </p>

        <h3 class="title">Languages</h3>
        <div class="form-group">
            <label class="col-md-12 control-label">@SharedLocalizer["ChangeLanguage"]</label>
            <div class="col-md-12">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
        <form class="form-group" asp-action="Index" asp-controller="Home" method="post">
            <label class="col-md-12 control-label">@Html.DisplayNameFor(m => m.LangString)</label>
            <div class="col-md-12" style="display:flex">
                @Html.TextBoxFor(m => m.LangString, new { @class = "form-control" })
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(m => m.LangString, "", new { @class = "text-danger" })
            </div>
        </form>
        <div class="form-group">
            <label class="col-md-12 control-label">Controllers</label>
            <div class="col-md-12">@ViewBag.ControllerString</div>
        </div>
        <div class="form-group">
            <label class="col-md-12 control-label">Views</label>
            <div class="col-md-12">@Localizer["ViewExample"]</div>
        </div>
    </div>
</div>

